[Desktop Entry]
Name=Session Logout Dialog
Comment=Prompt the user to log out of their session
Exec=gnome-session-save --logout-dialog
Terminal=false
Type=Application
Icon=system-log-out
Hidden=true
Categories=System;SystemSetup;
OnlyShowIn=GNOME;
