[Desktop Entry]
Name=Run Application
Comment=Show the "Run Application" panel app
Exec=trigger-panel-run-dialog
Terminal=false
Type=Application
Icon=system-run
Hidden=true
Categories=System;SystemSetup;
OnlyShowIn=GNOME;
StartupNotify=true
